{% extends 'base.html'%}
{% block content %}
<div id="adbox">
	<div class="clearfix">
		<!-- <img src="{% static 'images/earth.jpg' %}" alt="Img" height="342" width="400"> -->
		<div>
			<h1>EventeX</h1>
			<h2>O Evento mais esperado do ano!</h2>
			<p>
				Você não pode perder esta oportunidade!
			</p>
			<p>
				<strong><a href="/inscricao/">Inscreva-se já!</a></strong>
			</p>
			<p>
				Para dúvidas e mais informações entre em contato com <a href="#">eventex@eventex.com.br</a>
			</p>
		</div>
	</div>
</div>
{% endblock content %}
