<!DOCTYPE HTML>
{%  load staticfiles %}

<html>
<head>
	<meta charset="UTF-8">
	<title>Eventex</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="#">Eventex</a>
			</div>
			<ul id="navigation">
				<h3>Bem Vindo! Em breve novos eventos para você!</h3>

			</ul>
		</div>
	</div>
	<div id="adbox">
		<div class="clearfix">
			<img src="{% static 'images/earth.jpg' %}" alt="Img" height="342" width="400">
			<div>
				<h1>EventeX</h1>
				<h2>O Evento mais esperado do ano!</h2>
				<p>
					Você não pode perder esta oportunidade!
				</p>
				<p>
					<b>Abertura das inscrições no próximo domingo.</b>
				</p>
				<p>
					Para dúvidas e mais informações entre em contato com <a href="#">eventex@eventex.com.br</a>
				</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="#" target="_blank" class="facebook"></a><a href="#" target="_blank" class="googleplus"></a><a href="#" target="_blank" class="twitter"></a><a href="#" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2013 Eventex. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>